* {
    margin: 0px;
    outline: none;
}

html {
    scroll-behavior: smooth;
}
  
nav {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,191,251,1) 100%);
}

.nav-conteudo button a {
    text-decoration: none;
    color: white !important;
    font-size: 20px !important;
}

.subir a {
    text-decoration: none !important;
    font-size: 25px;
}

.nav-content {
    width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    height: 400px;
    animation: popout 1s ease;
}

@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.nav-conteudo {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-conteudo h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: black;
    font-size: 40px;
}

.nav-conteudo a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    margin-top: -10px; 
    color: black !important; 
    font-size: 30px;
}

.nav-conteudo span {
    color: #2600ff;
}

.nav-conteudo button{
    padding: 20px;
    background: #2600ff;
    width: 200px;
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-top: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: all 60ms ease-in-out;
}

.nav-conteudo button:hover {
    background-color: #004479;
}

.container {
    margin-top: 50px;
    width: 1200px;
}

.conteudo-container {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    height: 450px;
}

.container-content {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.container-content h3 {
    margin-top: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color:#004479;
}

.container-content a {
    margin-top: -10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
}

.opc {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.opc-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,0) 35%, rgba(38,0,255,0.1516981792717087) 100%);
}

.opc-box a {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: #004479 !important;
}

.opc-box img {
    height: 70px;
    transition: all 60ms ease-in-out;
}

.opc-box img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.conteudo-produtos {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo-produtos h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: #004479;
}

.conteudo-produtos a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    margin-top: -10px;
    margin-bottom: 20px;
}

.conteudo-produtos h4 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    margin-top: -10px;
    margin-bottom: 20px;
}

.carrosel {
    width: 100%;
    height: 500px;
}

.carrosel-box {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: 400px;
    min-height: 400px;
}

.carrosel-box h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: #004479;
}

.carrosel-box a {
    margin-top: -10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
}

.carrosel-box img {
    height: 100px !important;
    width: 100px !important;
    transition: all 60ms ease-in-out;
    margin: 10px;
}

.container-lang {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.container-lang h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: #004479;
}

.container-lang a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    margin-top: -10px;
    color: black !important;
}

.ct-full {
    width: 100%;
    margin-top: -50px;
}

.lista {
    margin-top: 50px;
    height: 300px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.box-lang {
    position: relative;
    width: 300px !important;
    min-height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.box-lang:hover {
    cursor: pointer;
    transform: rotate(5deg);
}

.shape-left {
    user-select: none;
    position: absolute;
    left: 0px;
}

.shape-right {
    user-select: none;
    position: absolute;
    right: 0px;
}

.box-lang img {
    padding: 20px;
    height: 140px;
}

.box-lang h4 {
    margin-top: 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: black; 
}

.owl-stage-outer {
    min-height: 300px !important;
}

.ct-contato {
    position: relative;
    width: 100%;
    height: 700px;
    background: rgb(0,194,255);
    background: linear-gradient(0deg, rgba(0,194,255,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct-contato h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    color: #004479;
}

.ct-box-contatos {
    margin-top: 30px;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-footer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-footer img {
    height: 300px;
}

.conteudo-footer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;   
}

.conteudo-footer h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    color: #004479;
}

.conteudo-footer span {
    padding: 5px;
    background: black;
    border-radius: 10px;
}

.subir {
    position: absolute;
    bottom: 80px;
    right: 80px;
    border-style: none;
    height: 80px;
    background: #2600ff;
    width: 80px;
    border-radius: 10px;
}

.subir a {
    color: white !important;
    padding: 20px;
}

.container-sobre {
    height: 800px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.sobre-foto {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-foto h3 {
    margin-bottom: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    font-style: bold;
    color: #004479;
}

.sobre-conteudo {
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-foto img {
    height: 500px;
    border-radius: 10px;
}

.sobre-conteudo h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    font-style: bold;
    color: #004479;
}

.sobre-conteudo span {
    color: #004479 !important;
    font-weight: bold;
}

.sobre-conteudo p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: black;
}

.tip{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}

.tip:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.dark-mode {
    z-index: 99999;
    position: fixed;
    top: 50px;
    right: 50px;
}

.dark-mode button {
    width: 60px;
    height: 60px;
    border-style: none;
    border-radius: 10px;
    transition: all 60ms ease-in-out;
}

.dark-mode button:active {
    transform: translateY(10px);
}

.dark-mode button i {
    padding: 10px;
}

.dark {
    background-color: #171717;
    color: white;
}

.dark-nav {
    background: rgb(23,23,23);
    background: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(43,43,43,1) 100%);
}

.dark-nav .nav-conteudo h3{
    color: white !important;
}

.dark-nav .nav-conteudo button {
    background: #004479;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dark-nav .nav-conteudo a{
    color: white !important;
}

.dark-opc-box {
    border-bottom: 1px solid #2600ff;
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,0) 35%, rgba(38,0,255,0.11528361344537819) 100%);
}

.dark-opc-box a{
    color: white !important;
}

.dark-container-lang h4{
    color: white !important;
}

.dark-container-lang a{
    color: white !important;
}

.dark-container-sobre .sobre-conteudo p{
    color: white;
}

.dark-ct-contato {
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(43,43,43,1) 100%);
}

.dark-ct-contato .conteudo-footer h3 {
    color: white;
}

.dark-subir {
    background: #171717;
}